examples/demo.sh
.vscode
.kiro
dist
build
examples/exclude-demo.sh
examples/rename-demo.sh
examples/scenario-demo.sh
examples/test-organize.sh
integration_test/Pictures/
.DS_Store
integration_test/Documents